<div data-controller="graph" data-graph-folder-id-value="<%= folder_id %>" data-graph-title-id-value="<%= title_id %>">
  <div id="graphIt" class="landscape" data-graph-target="graphContainer">
  </div>
</div>
